
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que qualquer um se registre (leads) ou que admins criem seus perfis
    match /users/{userId} {
      allow create: if true;
      
      // Apenas usuários logados podem ler a lista (segurança básica para o painel)
      allow read: if request.auth != null;
      
      // Apenas o próprio usuário ou um admin pode editar o perfil
      allow update, delete: if request.auth != null && (request.auth.uid == userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true);
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
